body{
    background-color: black;
}

.header-main{
    background-color: white;
    height: 8rem;
}

.div-logo-header-main{
    height: 100%;
    padding: 1rem;
    margin-left: 3rem;
}

.div-logo-header-main img{
    height: 100%;
}

.nav-header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.ul-header-main{
    height: 100%;
    display: flex;
    gap: 2rem;
    margin-right: 8rem;
    text-transform: uppercase;
}

.ul-header-main a{
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 400;
    font-size: 1.2rem;
}

.ul-header-main a:hover{
    color: rgb(0, 170, 255);
}

.ul-header-main a:hover::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: rgb(0, 170, 255);
    bottom: 0;
}